<%- include('../partials/header') %>
<table id="list">
  <thead>
    <tr>
      <th>Departure</th>
      <th>Arrival</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% flights.forEach(function(m) { %>
      <tr>
        <td><%= m.departure %></td>
        <td><%= m.born %></td>
        <td><a href="/flights/<%= m._id %>">New Flight Plan</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>
